name: Release

on:
  push:
    branches:
      - main
      - alpha

jobs:
  # run the monorepo.yml to confirm all tests, linting and formatting is passing
  monorepo:
    uses: ./.github/workflows/pr-check.yml

  release:
    needs: monorepo
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Install Dependencies
        run: npm i

      - name: Setup Git User
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npm run publish:${{ github.ref_name }}
          version: npm run version
          commit: "chore(release): version packages"
          title: "chore(release): version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Tags
        id: release
        if: steps.changesets.outputs.published == 'true'
        run: git push --follow-tags
